.idea/
.lift/
I/notes/dynamicConnectivityTool/*.txt
I/notes/interviewQuestions/unionFind/socialNetworkConnectivity/socialNetworkConnectivity/src/*.txt
I/notes/interviewQuestions/unionFind/specificCanonical/specificCanonical/src/*.txt
I/notes/interviewQuestions/unionFind/sucessorWithDelete/sucessorWithDelete/src/*.txt
